/* Style Comidas Start */

.comidas{
    height: 100vh;
}

#comidas{
    background-color: rgb(30, 30, 30);
    color: fff;
    text-align: center;
}

#comidas .comidas-container {
    padding: 150px 10px;
}

#comidas h2{
    margin-bottom: -50%;
    font-size: 2.5em;
    color: beige;
    text-transform: uppercase;
}

#comidas h4{
    color: burlywood;

}

#comidas ul{
    color: #fff;
}

#comidas .burger-info ul{
    padding: 0px;
    margin-top: 60%;
    text-decoration: dashed;
}

#comidas .burger-info ul li{
    padding: 3px 0px;
}

#comidas .burger{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    height: 200px;
    margin-top: 80%;
}

.burger:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("../imagenes/hamburguesalechugaytomate.png");
}

.burger:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("../imagenes/hamburguesabacon.png");
}

.burger:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5))
        ,url("../imagenes/hamburguesapepinos.png");
}


/* Style Comidas End*/