/*----NOSOTROS start----*/
.body-nos{
    font-family: 'Koulen', cursive;
    margin: 0;
    background-image: linear-gradient(rgb(255, 255, 255),beige,white);
}

#quienes-somos .container{
    text-align: center;
    padding: 200px 12px;
}

.texto h1{
    padding-top: 70px;
}

.texto{
    text-align: center;
    margin-left: 10px;
    margin-right: 9px;
}

/*----NOSOTROS end----*/
